/* 标签前缀 */
li.tag-type-artist a:nth-child(4)::before {
  content: '[画师]';
}
li.tag-type-copyright a:nth-child(4)::before {
  content: '[原作]';
}
li.tag-type-character a:nth-child(4)::before {
  content: '[角色]';
}
li.tag-type-circle a:nth-child(4)::before {
  content: '[公司]';
}

/* 字体大小 */
body {
  font-size: 12px;
  padding: 12px 4px;
}

/* 标题居中 */
#title {
  display: flex;
  justify-content: center;
  margin: 0 0 0 0 !important;
}
#site-title {
  display: flex !important;
}
#main-menu {
  padding: 0 !important;
  margin: 0 !important;
  display: flex !important;
  justify-content: center;
}

/* 通知居中 */
.status-notice {
  text-align: center;
}

/* 图片区域 */
#post-list {
  display: flex;
  flex-direction: row;
}
#post-list > .sidebar {
  width: auto;
  max-width: 200px;
  flex: 0 0 auto;
}
#post-list > .content {
  width: auto;
  flex: 0 1 auto;
}

#post-list-posts {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
}
#post-list-posts > li {
  width: auto !important;
  height: auto !important;
  margin: 0 8px 8px 0 !important; /* 图片区域间距 */
  border: 1px solid rgba(0, 0, 0, 0);
}
#post-list-posts > li.javascript-hide:not(.set-javascript-hide) {
  display: block !important;
  position: relative;
}
#post-list-posts > li.javascript-hide::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  box-shadow: 0px 0px 12px rgb(255, 0, 0) inset;
  pointer-events: none;
}
#post-list-posts > li > .inner {
  width: auto !important;
  height: 150px !important;
  display: flex;
  align-items: center;
}
#post-list-posts > li > .inner > .thumb {
  height: auto;
}
#post-list-posts > li > .largeimg.directlink {
  height: 12px;
  font-size: 12px;
  line-height: 12px;
  padding: 0;
  margin: 2px 0 0 0;
  overflow: hidden;
}

/* 脚本添加的内容 */
#script-addition {
  user-select: none;
  /* text-align: right; */
  /* font-weight: 100; */
  padding: 8px 12px;
  display: flex;
}
#script-addition > input {
  margin-left: 1em;
}
#script-notice-hd {
  margin-left: 0.5em;
  font-weight: bold;
  color: #ee8887;
}

/* 隐藏浏览器默认显示的滚动条 */
body::-webkit-scrollbar {
  display: none;
  width: 0px !important;
}
